/* colors */
$sw-primary: #39E5EB;
$sw-secondary: #e8e208;
$sw-white: white;
$sw-gray: #467779;

$sw-primary-light: #82cfd2;
$sw-primary-dark: #467779;
$sw-secondary-light: #e8e208;

$sw-blue-green: #83BFC3;
$sw-dark-bg: #0D1718;
$sw-med-bg: #182326;

